* {
    font-family: 'Hind', sans-serif;
    color: white;
    user-select: none;
}

.navbar-custom {
    background-color: black;
}

.navbar-custom a{
    color: white;
}

.navbar-custom a:hover{
    color: pink;
}

/*.nav-item a:hover {
    color: pink;
}*/

.nav-item .badge {
    position: absolute;
    top: 3vh;
    right: 29.5vh;
    padding: 0.5vh 1vh;
    border-radius: 50%;
}

.nav-item {
    text-align: center;
}

/*Navbar Title*/
.navbar-brand {
    padding-left: 45%;
}

.home_hr {
    background-color: white;
    width: 90%;
    /*  margin: 5vh 10vh;*/
}

/*Home*/
/*Gaming Partner CSS*/
/*Set the caption on the top*/
.carousel-caption h1 {
    margin-bottom: 50%;
}

/*Set the height of the slide img*/
.carousel-inner img {
    max-height: 80vh;
}

/*Start Now button*/
.button-container {
    display: none;
}

@media only screen and (max-width: 768px) {
    .button-container {
        display: block;
        padding: 2vh 0;
    }
}
/*Parallax effect*/
/*.parallax {
    background-image: url('home_bg.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*Change the text color in parallax effect*/
/*.parallax h1 {
    color: white;
    user-select: none;
}

.parallax p {
    font-size: 3vh;
    user-select: none;
}*/

/*Challenge CSS*/
/*.parallax .col-md-4 {
    border: outset;
    border-color: pink;
    padding: 8% 5%;*/
    /*background-color: hsla(290,60%,70%,0.3);*/
/*}*/

/*Footer CSS*/
.footer {
    background: black;
    color: white;
}

.footer h1 {
    font-size: 2vh;
    margin: 3vh 0;
}

.copyright {
    margin-bottom: -5vh;
    text-align: center;
    font-size: 2vh;
    padding-bottom: 5vh;
}

.footer .row .fa {
    padding-right: 1vh;
    font-size: 2vh;
}

.text-center a {
    color: pink;
}

.text-center a:hover {
    color: grey; 
    text-decoration: none;
}
/*Signup & Login*/
/*Form CSS*/
.form-group {
    width: 80%;
    box-shadow: 4vh 4vh 10vh 2vh cornsilk;
    background: aliceblue;
    opacity: 0.95;
    margin: 4% auto 0;
    text-align: center;
    border-radius: 20px;  
}

.form-group h1, .form-group p{
     color: black;
}

.form-group label{
    color: black;
    font-size: 3vh;
    text-align: left;
}

.form-group a {
    color:black;
}

.form-group a:hover {
    color: pink;
    text-decoration: none;
}

.form_hr {
    background-color: black;
    width: 90%;
    margin: 3vh 10vh;
}

/*View games*/
.card-title {
    color: black;
}

/*Apex ranking system & CSGO ranking system*/
#champion_rows_id, #rank_rows_id {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vh;
}

/*Edit account*/
#eye_fill_id {
    color: black;
    position: absolute;
    cursor: pointer;
    margin-left: 15vh;
}

/*View players*/
#inputSearch_id {
    width: 191vh;
    margin-left: 6.5vh;
}

#requestModalLabel_id{
    color: black;
}

#playingTime_id {
    color: black;
}

.close {
    color: black;
}

/*View schedule */
#sort_btn_id:hover {
    cursor: pointer;
}