* {
    font-family: 'Hind', sans-serif;
    color: white;
    user-select: none;
}

.navbar-custom {
    background-color: black;
}

.navbar-custom a{
    color: white;
}

.navbar-custom a:hover{
    color: pink;
}

.nav-item .badge {
    position: absolute;
    top: 3vh;
    right: 29.5vh;
    padding: 0.5vh 1vh;
    border-radius: 50%;
}

.nav-item {
    text-align: center;
}

/*Navbar Title*/
.navbar-brand {
    padding-left: 45%;
}

.home_hr {
    background-color: white;
    width: 90%;
}

/*Home*/
/*Gaming Partner CSS*/
/*Set the caption on the top*/
.carousel-caption h1 {
    margin-bottom: 50%;
}

/*Set the height of the slide img*/
.carousel-inner img {
    max-height: 80vh;
}

/*Start Now button*/
.button-container {
    display: none;
}

/*Footer CSS*/
.footer {
    background: black;
    color: white;
}

.copyright {
    margin-bottom: -5vh;
    text-align: center;
    font-size: 2vh;
    padding-bottom: 5vh;
}

.footer .row .fa {
    padding-right: 1vh;
    font-size: 2vh;
}

.text-center a {
    color: pink;
}

.text-center a:hover {
    color: grey; 
    text-decoration: none;
}

/*Signup & Login*/
/*Form CSS*/
.form-group {
    width: 80%;
    box-shadow: 4vh 4vh 10vh 2vh cornsilk;
    background: aliceblue;
    opacity: 0.95;
    margin: 4% auto 0;
    text-align: center;
    border-radius: 20px;  
}

.form-group h1, .form-group p{
     color: black;
}

.form-group label{
    color: black;
    font-size: 1em;
    text-align: left;
}

.form-group a {
    color:black;
}

.form-group a:hover {
    color: pink;
    text-decoration: none;
}

.form_hr {
    background-color: black;
    width: 90%;
    margin: 1em 3em;
}

/*View games*/
.card-title {
    color: black;
}

.card {
    width: 20em;
}

/*LOL ranking system*/
#form_container_id {
    padding-left: 0;
    padding-right: 0;
}

#form_row_id {
    margin-left: 0;
    margin-right: 0;
}

/*Apex ranking system & CSGO ranking system*/
#champion_rows_id, #rank_rows_id {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vh;
}

/*Edit account*/
#eye_fill_id {
    color: black;
    position: absolute;
    cursor: pointer;
    margin-left: 6em;
}

/*View players*/
#requestModalLabel_id{
    color: black;
}

#playingTime_id {
    color: black;
}

.close {
    color: black;
}

/*View schedule */
#sort_btn_id:hover {
    cursor: pointer;
}

// Responsive CSS
@media only screen and (min-width: 576px) {
    /*View players*/
    #inputSearch_id

{
    margin-left: 0;
}

}

@media only screen and (max-width: 576px) {
    /*Home*/
    .container, .container-md, .container-sm {
        max-width: 550px !important;
    }

    .navbar-brand {
        padding-left: 40%;
    }

    /*Signup & Login*/
    .form_hr {
        margin: 0.5em 1em;
    }

    .form-group {
        margin-top: 4em;
    }

        .form-group label {
            margin-left: 2vh;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

    .form-control {
        margin-left: 2vh;
    }

    #signup_btn_id, #login_btn_id {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    /*View games*/
    .card {
        margin: 1em 3.5em;
        width: 70%;
    }

    /*LOL ranking system*/
    #form_col_id {
        padding-bottom: 1.5em;
    }

    #submit_btn_id {
        margin-left: 40%;
        margin-bottom: 5%;
    }

    /*Edit account*/
    #eye_fill_id {
        margin-left: 4em;
    }

    #save_btn_id {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .nav-item i {
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    /*Home*/
    .button-container {
        display: block;
        padding: 2vh 0;
    }

    .carousel-caption button {
        display: none;
    }

    .container, .container-md, .container-sm {
        max-width: 700px !important;
    }

    .navbar-brand {
        padding-left: 43%;
    }

    /*Signup & Login*/
    .form_hr {
        margin: 1em 2em;
    }

    .form-group {
        margin-top: 4em;
    }

        .form-group label {
            margin-left: 2vh;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

    .form-control {
        margin-left: 2vh;
    }

    #signup_btn_id, #login_btn_id {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    /*View games*/
    .card {
        margin: 1em 5.5em;
        width: 70%;
    }

    /*LOL ranking system*/
    #form_col_id {
        padding-bottom: 1.5em;
    }

    #submit_btn_id {
        margin-left: 45%;
    }

    /*Edit account*/
    #eye_fill_id {
        margin-left: 6em;
    }

    #save_btn_id {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .nav-item i {
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /*Home*/
    .container, .container-md, .container-sm {
        max-width: 900px !important;
    }

    .navbar-brand {
        padding-left: 46%;
    }

    /*Edit account*/
    #eye_fill_id {
        margin-left: 3em;
    }
}

@media only screen and (min-width: 768px) {
    /*Signup & Login*/
    .form-group label {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    /*View players*/
    #inputSearch_id {
        margin-left: 0;
    }

    #table_id tr {
        display: block;
        border-bottom: 3px solid white;
    }

    #table_id td, #table_id th {
        display: block;
    }

    #table_tr_id {
        display: none !important;
    }

    #table_body_id tr td::before {
        content: attr(data-title);
    }

    #table_body_id tr td::before {
        display: inline-block;
        width: 50%;
        border-right: 2px dotted white;
        margin-right: 1em;
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    /*View games*/
    .card {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    /*LOL ranking system*/
    #submit_btn_id {
        margin-left: -3em;
    }
}

@media only screen and (max-width: 992px) {
    /*Apex ranking system & CSGO ranking system*/
    #champion_rows_id, #rank_rows_id {
        display: block !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*Edit account*/
    #eye_fill_id {
        margin-left: 4em;
    }
}